html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #d3d3d3;
  overflow-x: hidden;
  overflow-y: auto;
}

.clear {
  clear: both;
}

#maindiv {
  width: 90%;
  min-height: 100%;
  margin: auto;
}

/* Header styles */

#header {
  width: 100%;
  margin-top: 30px;
  border-bottom: 2px solid black;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.3);
}

#header h2 {
  display: inline-block;
  float: left;
  margin: 0;
  text-shadow: 1px 1px rgba(0,0,0,0.2);
}

#header div {
  display: inline-block;
  float: right;
}

/* Main content styles */

#content {
  position: relative;
  width: 100%;
  min-height: 500px;
  margin-top: 10px;
  box-sizing: border-box;
}

.productslist {
  position: absolute;
  width: 100%;
  min-height: 500px;
  box-sizing: border-box;
}

.addproduct {
  position: absolute;
  width: 100%;
  min-height: 500px;
  box-sizing: border-box;
  left: 120%;
}

.addbtn {
  margin-right: 8px;
}

.btn {
  background-color: #0e9330;
  color: white;
  padding: 4px 7px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 1px 1px rgba(0,0,0,0.2);
}

.btn:hover {
  background-color: #12b73c;
}

/* Products list style */

.product {
  display: inline-block;
  width: 200px;
  min-height: 130px;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
}

.productdescription {
  width: 100%;
  min-height: 130px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px rgba(0,0,0,0.3);
  overflow: hidden;
}

.productdesc {
  width: 100%;
  text-align: center;
}

/* Form style */

.productform table {
  width: 60%;
  min-width: 200px;
  max-width: 450px;
  margin: auto;
  margin-top: 20px;
}

.book-field, .furniture-field {
  display: none;
}

.message {
  width: 95%;
  margin: 0;
  margin-right: 20px;
  text-align: center;
}

.inputfield {
  width: 100%;
  margin: 3px 0;
  padding: 3px 6px;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit {
  width: 40%;
  min-width: 100px;
  background-color: #0e9330;
  color: white;
  padding: 4px 7px;
  margin: 4px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  box-shadow: 1px 1px rgba(0,0,0,0.2);
}

.submit:hover {
  background-color: #12b73c;
}

.wrong-input {
  color: red;
}

.input-error {
  border: 1px solid red;
}

.correct-input {
  color: green;
}

/* Responsive design */

@media (max-width: 1920px){
  .product {
    width: 11.11%;
  }
}

@media (max-width: 1700px){
  .product {
    width: 12.5%;
  }
}

@media (max-width: 1500px){
  .product {
    width: 14.26%;
  }
}

@media (max-width: 1300px){
  .product {
    width: 16.65%;
  }
}

@media (max-width: 1100px){
  .product {
    width: 20%;
  }
}

@media (max-width: 900px){
  .product {
    width: 25%;
  }
}

@media (max-width: 770px){
  .product {
    width: 33.333%;
  }
}

@media (max-width: 550px){
  .product {
    width: 50%;
  }
}

@media (max-width: 490px){
  h2 {
    width: 100%;
    text-align: center;
  }
  .actiondiv {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
    margin-top: 4px;
  }
}

@media (max-width: 340px){
  .product {
    width: 100%;
  }
}
